<div class='container'>
  <div class='row'>
    <div class="p-3 mb-2 bg-light text-dark">商品新規登録</div><br>
    <%= form_with model: @item, url:admin_items_path do |f| %>
      <div class="form-group">
        <tr>
          <%= f.label :商品画像 %>
          <%= f.file_field :image, accept: "image/*" %>
        </tr>
        <tr>
          <%= f.label :商品名 %>
          <%= f.text_field :name, class: 'form-control item_name' %>
        </tr>
        <tr>
          <%= f.label :商品説明 %>
          <%= f.text_area :introduction, class: 'form-control item_introduction' %>
        </tr>
        <tr>
          <%= f.label :ジャンル %>
          <%= f.collection_select :genre_id, Genre.all ,:id, :name, include_blank: "--選択してください--" %>
        </tr>
        <tr>
          <%= f.label :税抜価格 %>
          <%= f.text_field :price, class: 'form-control item_price' %>
        </tr>
        <tr>
          <%= f.label :販売ステータス %>
          <%= f.select :is_stated, [["販売中","true"], ["販売不可","false"]], include_blank: "--選択してください--" %>
        </tr>
        <tr>
          <%= f.submit '新規登録', class: 'btn btn-success' %>
        </tr>
      </div>
    <% end %>
  </div>
</div>