<h2>管理者ログイン画面</h2>
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg5 px-sm-0">
        <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
          <div class="field">
            <%= f.label :email,"メールアドレス" %><br>
            <%= f.email_field :email, autocomplete: "email" %>
          </div>
          <div class="field">
            <%= f.label :password,"パスワード" %><br />
            <%= f.password_field :password, autocomplete: "off", class: "password" %>
          </div>
          <div class="actions">
            <%= f.submit "Log in" ,class: 'btn btn-sm btn-primary'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
<!--email:aaa@aaa,password:aaaaaa-->