<div class='container'>
  <div class="col-xs-6">
    <div class="center-block text-center">
      <div><%= image_tag 'top.jpg', size: '600x400' %>
        <div style="position:absolute; top:200px; left:380px; width: 400px;">
          <p class="text-left">ようこそ、ながのCAKEへ!<br>
          <p class="text-left">このサイトは、ケーキ販売のECサイトになります。<br>
          <p class="text-left">会員でない方も商品の開覧はできますが、<br>
          <p class="text-left">購入には会員登録が必要になります。
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="center-block">
      <div class='row ml-5'>
        <div class="p-3 mb-2 bg-light text-dark"><strong>新着商品</storong></div>
      </div>
      <div class="col-xs-9 col-xs-offset-1">
        <div class="item--card-content">
          <div class="row mx-5">
          <% @items.last(4).each do |item| %>
            <div class="col-xs-3" style="padding-right: 30px; padding-left: 30px;">
              <%= link_to item_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
                <%= image_tag item.image, size: "180x130" %><br>
                <%= item.name %><br>
                ¥<%= item.price.to_s(:delimited) %>
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>