<div class="container">
  <div class="p-3 mb-2 col-md-2 font-weight-bold bg-light text-dark">配送先登録/一覧</div>
  <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3"><%= f.label :post_code, "郵便番号(ハイフンなし)" %></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3"><%= f.text_field :post_code, placeholder: "0000000", class: "form-control border-dark" %></div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3"><%= f.label :address, "住所" %></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-7"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: "72%", class: "form-control border-dark" %></div>
        <div class="col-lg-1"></div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3"><%= f.label :addressed_name, "宛名" %></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3"><%= f.text_field :addressed_name, placeholder: "令和道子", class: "form-control border-dark" %></div>
      </div>
    </div>
    <div class="text-right"><%= f.submit "新規登録", class: 'btn mb-5 btn-success', style: 'width:160px' %></div>
  <% end %>
  <div class="col-11">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-light text-dark">
          <th style="width:15%">郵便番号</th>
          <th style="width:40%">住所</th>
          <th style="width:20%">宛名</th>
          <th style="width:25%"></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.post_code %></td>
          <td><%= address.address %></td>
          <td><%= address.addressed_name %></td>
          <td>
            <%= link_to '編集する', edit_address_path(address), class: "btn btn-sm btn-success " %>
            <%= link_to '削除する', address_path(address), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger " %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>