<div class="container">
  <div class="row">
    <div class="col">
      <h3>注文履歴一覧</h3>
      <table class="table table-bordered">
        <tr>
          <th class="table-active">注文日</th>
          <th class="table-active">配送先</th>
          <th class="table-active">注文商品</th>
          <th class="table-active">支払い金額</th>
          <th class="table-active">ステータス</th>
          <th class="table-active">注文詳細</th>
        </tr>
        <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
              <td>
                〒<%= order.postcode %> <br>
                <%= order.address %> <br>
                <%= order.name %> 
              </td>
              <td>
                <% order.order_details.each do |order_detail| %>
                  <%= order_detail.item.name %><br />
                <% end %>
              </td>
              <td><%= (order.shipping_cost + order.total_payment).to_s(:delimited) %> 円</td>
              <td><%= order.status_i18n %></td>
              <td><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>

<%= f.radio_button :payment_method, "credit_card" %>
<%= f.label :payment_method_credit_card, "クレジットカード" %>

<%= f.radio_button :payment_method, "transfer" %>
<%= f.label :payment_method_transfer, "銀行振込" %>

<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :name) %>

<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
<%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

<%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
<%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>

