<div class="container">
  <div class="row">
    <div class="col">
<h1>注文情報確認</h1>
 <%= form_with model: @order, url: confirm_orders_path, local: true do |f| %>
      <h5><p class="font-weight-bold">支払い方法</p></h5>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
        <br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>